# Project exclude paths
/.gradle/
/Parking Lot/task/build/
/Parking Lot/task/out/
/Parking Lot/task/out/production/classes/
/Topics/Data class/equals() check/out/
/Topics/Data class/equals() check/out/production/classes/
/Topics/Hierarchy of exceptions/RuntimeException/out/
/Topics/Hierarchy of exceptions/RuntimeException/out/production/classes/
/Topics/Inheritance/Cart/out/
/Topics/Inheritance/Cart/out/production/classes/
/Topics/Inheritance/House inheritance/out/
/Topics/Inheritance/House inheritance/out/production/classes/
/Topics/Jumps and returns/Beyond the word/out/
/Topics/Jumps and returns/Beyond the word/out/production/classes/
/Topics/Jumps and returns/First digit/out/
/Topics/Jumps and returns/First digit/out/production/classes/
/Topics/Jumps and returns/Getting letters from the Alphabet/out/
/Topics/Jumps and returns/Getting letters from the Alphabet/out/production/classes/
/Topics/Jumps and returns/Unique characters/out/
/Topics/Jumps and returns/Unique characters/out/production/classes/
/Topics/Null safety/Check length/out/
/Topics/Null safety/Check length/out/production/classes/
/Topics/Null safety/Elvis throwing exceptions/out/
/Topics/Null safety/Elvis throwing exceptions/out/production/classes/
/Topics/Taming exceptions/Handle arithmetic exception/out/
/Topics/Taming exceptions/Handle arithmetic exception/out/production/classes/
/Topics/The try-catch statement/Integer division/out/
/Topics/The try-catch statement/Integer division/out/production/classes/
/Topics/The try-catch-finally statement/Parting words/out/
/Topics/The try-catch-finally statement/Parting words/out/production/classes/